<% title "Steckbrief bearbeiten" %>
<div class="row">
  <div class="small-12 columns">
    <h4>Steckbrief<% if @user != @_user %> von <%= @user.full_name %><% end %> bearbeiten</h4>
    <% if @user == @_user %><p>Hier hast du die Möglichkeit, deinen Steckbrief zu bearbeiten. Du kannst diesen bis zum Redaktionsschluss (wird noch bekannt gegeben) so oft du magst verändern.</p><% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <%= form_tag profile_path(params[:id]), method: :put do %>
        <% @fields.each do |field| %>
          <div class="row">
            <div class="large-12 columns">
              <label><%= field.name %></label>
              <%= text_area_tag "fields[#{field.id}]", field.value_for_user(@user), placeholder: field.description %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="large-12 columns text-center">
            <% if @user != @_user %><%= link_to "abbrechen", profiles_path, class: [:button, :small] %> <% end %><%= submit_tag "speichern", class: [:button, :small] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>