<% title "Steckbrief bearbeiten" %>
<div class="row">
  <div class="small-12 columns">
    <h4>Steckbrief<% if @user != @_user %> von <%= @user.full_name %><% end %> bearbeiten</h4>
    <% if @user == @_user %><p>Hier hast du die Möglichkeit, deinen Steckbrief zu bearbeiten. Du kannst diesen <b>bis 31. Januar 2014</b> so oft du magst verändern.</p><% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel photos">
      <h4>Kinderfotos</h4>
      <p>Du kannst <b>bis zu drei Kinderfotos</b> hochladen, die alle neben deinem Steckbrief in der Abizeitung erscheinen werden.</p>
      <%= render "photo_gallery", photos: @user.profile_photos %>
      <% if @user.profile_photos.count < 3 %>
        <%= render "errors", errors: @photo.errors %>
        <%= form_for @photo do |f| %>
          <%= f.hidden_field :assignable_type, value: @user.class.name %>
          <%= f.hidden_field :assignable_id, value: @user.id %>
          <div class="row">
            <div class="large-6 large-centered columns">
              <div class="row">
                <div class="large-9 columns">
                  <%= f.file_field :image, accept: "image/jpg, image/jpeg, image/png" %>
                </div>
                <div class="large-3 columns">
                  <%= f.submit "hochladen", class: [:button, :tiny] %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <h4>Steckbrief</h4>
      <%= render "text_rules" %>
      <%= form_tag profile_path(params[:id]), method: :patch do %>
        <% @fields.each do |field| %>
          <div class="row">
            <div class="large-12 columns">
              <label><%= field.name %></label>
              <%= text_area_tag "fields[#{field.id}]", field.value_for_user(@user), placeholder: field.description, class: (field.large ? :large : nil) %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="large-12 columns text-center">
            <% if @user != @_user %><%= link_to "abbrechen", profiles_path, class: [:button, :small] %> <% end %><%= submit_tag "speichern", class: [:button, :small] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>