<% title = "Login" %>
<div class="row">
  <div class="small-form-panel login">
    <%= form_tag login_path do %>
      <div class="row">
        <div class="large-12 columns"><h4>Login</h4></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>e-mail</label>
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Passwort</label>
          <div class="row collapse">
            <div class="small-8 columns">
              <%= password_field_tag :password %>
            </div>
            <div class="small-4 columns">
              <span class="postfix radius"><%= link_to "vergessen?", forgot_password_user_path %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <%= submit_tag "login", class: [:button, :small] %>
        </div>
      </div>
    <% end %>
  </div>
</div>