<% title "Schüler" %>
<div class="row">
  <div class="small-12 columns">
    <h4>Schüler</h4>
    <div class="text-right"><%= link_to new_user_path, class: [:button, :small] do %><%= glyph "plus" %> Schüler hinzufügen<% end %></div>
    <table>
      <thead>
        <tr>
          <th>Nachname</th>
          <th>Vorname</th>
          <th>e-mail</th>
          <th>zuletzt online</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.last_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.email %></td>
            <td><%= ld user.last_login, format: :short %></td>
            <td><%= link_to "", edit_user_path(user), title: "bearbeiten", class: "fi-pencil" %> <%= link_to "", user_path(user), method: :delete, confirm: "Möchtest du diesen Schüler wirklich löschen?", title: "löschen", class: "fi-x" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>