<% title "Einlaufsong" %>
<div class="row songs">
  <div class="small-12 columns">
    <h4>Einlaufsong</h4>
    <p>Hier kannst du deinen persönlichen Song, zu dem du bei der offiziellen Verabschiedung auf die Bühne gehst, hochladen. Bitte achte darauf, dass er zwischen 30 und 45 Sekunden lang ist. Schneide ihn bitte vorher entsprechend zurecht. Erlaubte Formate sind: mp3, aac, wav. Wenn du bereits einen Song hochgeladen hast, kannst du ihn durch erneutes Hochladen ersetzen.
    <br />Schau bitte auch in der Tabelle darunter, ob dein Song nicht bereits schon von jemand anderem gewählt wurde.</p>
    <div>
      <div class="panel">
        <%= form_for @song, method: :patch, url: songs_path, remote: true do |f| %>
          <div class="row">
            <div class="large-6 columns">
              <label>Interpret:</label>
              <%= f.text_field :artist %>
            </div>
            <div class="large-6 columns">
              <label>Titel:</label>
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Datei:</label>
              <div class="row">
                <div class="large-4 columns">
                  <%= f.file_field :file, accept: Song.accepted_types %>
                </div>
                <div class="large-8 columns">
                  <% if @song.persisted? %><small>Nur auswählen, wenn du deine bisherige Datei ersetzen möchtest.</small><% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns hcen">
              <%= f.submit :speichern, class: [:button, :tiny] %>
            </div>
            <div class="small-9 columns">
              <div class="progress radius hide">
                <div class="meter"></div>
              </div>
              <p class="error"></p>
            </div>
          </div>
        <% end %>
        <%= render "song" if @song.persisted? %>
      </div>
    </div>
    <hr />
    <h4 title="Dein Song wird in der folgenden Liste nicht auftauchen, ist aber natürlich gespeichert, solange er oben steht.">Diese Songs wurden bereits von <span class="others">anderen</span> gewählt:</h4>
    <% @songs.each do |song| %>
      <% cache [:songs, :index, song, @_user.admin?] do %>
        <%= content_tag :div, class: %w(row song-preview entry), data: { audio_path: song.file.url } do %>
          <% if @_user.admin? %><div class="small-1 columns"><%= render "preview_btn" %></div><% end %>
          <div class="small-11 columns">
            <div class="row">
              <div class="large-4 columns"><%= song.artist.presence || "<em>nicht angegeben</em>".html_safe %></div>
              <div class="large-4 columns"><%= song.title.presence || "<em>nicht angegeben</em>".html_safe %></div>
              <% if @_user.admin? %><div class="large-4 columns"><%= song.user.full_name %></div><% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% cache [:songs, :index, @students] do %>
      <hr />
      <h4>Schüler, deren Song noch fehlt</h4>
      <% @students.each do |student| %>
        <div class="row entry">
          <div class="large-12 columns"><%= student.full_name %></div>
        </div>
      <% end %>
    <% end if @_user.admin? %>
  </div>
</div>
<%= audio_tag %>