<% title "Umfrage bearbeiten" %>
<div class="row polls">
  <div class="small-12 columns">
    <%= link_to polls_path, class: "button small" do %><i class="fi-arrow-left"></i> zurück zu allen Umfragen<% end %>
    <h4>Umfrage bearbeiten</h4>
    <%= form_for @poll do |f| %>
      <div class="panel callout">
        <%= render "errors", errors: @poll.errors %>
        <%= f.text_field :question, placeholder: "Frage" %>
        <hr />
        <% i = 1 %>
        <%= f.fields_for :options do |option| %>
          <div class="row">
            <div class="large-11 small-9 columns">
              <%= option.text_field :content, placeholder: "Antwortmöglichkeit #{i}" %>
            </div>
            <div class="large-1 small-3 columns">
              <label class="inline" title="Antwortmöglichkeit löschen"><%= option.check_box :_destroy %> <i class="fi-x"></i></label>
            </div>
          </div>
        <% i = i + 1 %>
        <% end %>
        <hr />
        <%= label_tag do %><%= f.check_box :multiple_choice %> Mehrfachauswahl möglich<% end %>
        <div class="text-center">
          <%= f.submit :speichern, class: "button small" %>
        </div>
      </div>
    <% end %>
  </div>
</div>