<%= div_for stories, class: :panel do |story| %>
  <div class="row">
    <div class="large-6 small-12 columns">
      <%= render "author", author: story.user if (all ||= false) %>
      <b><%= story.title %></b>
    </div>
    <div class="large-4 small-12 columns">
      <em><%= story.document.original_filename %></em> <%= link_to "", story.document.url, class: "fi-download", title: "Textdokument herunterladen" %>
    </div>
    <div class="large-1 columns">
      <%= render "action_btns", path: edit_story_path(story), del_path: story_path(story), confirm: "diesen Bericht" %>
    </div>
  </div>
  <hr />
  <h6>Fotos zu diesem Bericht</h6>
  <div class="row">
    <div class="small-12 columns">
      <%= render "photo_gallery", photos: story.photos %>
      <% if story.photos.empty? %>
        <div class="row">
          <div class="small-12 columns">
            <p>Sollte dein Bericht Fotos enthalten, lade diese bitte hier noch einmal gesondert hoch.</p>
          </div>
        </div>
      <% end %>
      <%= form_for Photo.new do |f| %>
        <%= f.hidden_field :assignable_type, value: story.class.name %>
        <%= f.hidden_field :assignable_id, value: story.id %>
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-4 small-7 columns">
                <label>Foto hinzufügen</label>
                <%= f.file_field :image, accept: "image/jpg, image/jpeg, image/png" %>
              </div>
              <div class="large-7 small-4 columns">
                <%= f.submit "hochladen", class: [:button, :tiny] %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if stories.empty? %>
  <em>Noch keine Berichte hochgeladen.</em>
<% end %>