<div class="row index">
  <div class="small-12 columns">
    <h3>Aktionen</h3>
    <div class="row">
      <div class="large-6 columns">
        <div class="panel">
          <h4><%= link_to "Dein Steckbrief", edit_profile_path %></h4>
          <span>Hier kannst du deinen Steckbrief bearbeiten.</span>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4><%= link_to "Wir über uns", about_path %></h4>
          <span>Schreibe etwas über deine Mitschüler.</span>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Fotos für Collagen</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Gerüchte</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Zitate</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Umfragen</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Kursberichte</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Short Stories</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4>Survivaltips</h4>
          <em>Folgt in den nächsten Tagen...</em>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <h4><%= link_to "Dein Konto", edit_own_path %></h4>
          <span>Hier kannst du dein Passwort und deine e-mail-Adresse ändern.</span>
        </div>
      </div>
    </div>
    <% if @_user.admin? %>
    <div class="row">
      <div class="small-12 columns"><hr /></div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h3>Redaktion</h3>
        <div class="row">
          <div class="large-6 columns">
            <div class="panel">
              <h4><%= link_to "Schüler", users_path %></h4>
              <span>Hier kannst du alle Schüler verwalten.</span>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel">
              <h4><%= link_to "Steckbriefe", profiles_path %></h4>
              <span>Hier kannst du die Steckbriefe aller Schüler einsehen.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>