<% title "Fotos f체r Collagen" %>
<div class="row photos">
  <div class="small-12 columns">
    <h4>Fotos f체r Collagen</h4>
    <p>In der Abizeitung wird es einige Seiten mit Collagen unserer Fotos geben. Du kannst dazu nat체rlich auch beitragen, indem du hier deine Fotos hochl채dst.</p>
    <div class="photo-form">
      <%= form_for Photo.new do |f| %>
        <div class="panel text-center photo-progress">
          <div class="row">
            <div class="large-12 columns text-center">
              <%= render "file_field", form: f %>
            </div>
          </div>
          <%= render "progress" %>
        </div>
      <% end %>
      <hr />
      <h4>Deine Fotos</h4>
      <div class="panel">
        <%= render "gallery", photos: @own_photos %>
      </div>
    </div>
    <% if @_user.admin? %>
      <hr />
      <h4>Fotos anderer</h4>
      <div class="panel">
        <%= render "gallery", photos: @all_photos %>
      </div>
    <% end %>
  </div>
</div>