<% title "Fotos f체r Collagen" %>
<div class="row photos">
  <div class="small-12 columns">
    <h4>Fotos f체r Collagen</h4>
    <p>In der Abizeitung wird es einige Seiten mit Collagen unserer Fotos geben. Du kannst dazu nat체rlich auch beitragen, indem du hier deine Fotos hochl채dst.</p>
    <div class="panel text-center">
      <%= render "errors", errors: @photo.errors %>
      <%= form_for @photo do |f| %>
        <div class="row">
          <div class="large-6 large-centered columns">
            <div class="row">
              <div class="large-9 columns">
                <%= f.file_field :image, accept: "image/jpg, image/jpeg, image/png" %>
              </div>
              <div class="large-3 columns">
                <%= f.submit "hochladen", class: [:button, :tiny] %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr />
    <h4>Deine Fotos</h4>
    <%= render "gallery", photos: @own_photos %>
    <% if @_user.admin? %>
      <hr />
      <h4>Fotos anderer</h4>
      <%= render "gallery", photos: @all_photos %>
    <% end %>
  </div>
</div>