<% title "Wir über #{@user.full_name}" %>
<div class="row">
  <div class="small-12 columns">
    <%= link_to about_path, class: "button small" do %><i class="fi-arrow-left"></i> zurück zu allen Schülern<% end %>
    <h4>Wir über uns - <%= @user.full_name %></h4>
    <% if @user == @_user %>
      <p>Hier siehst du Einträge, die andere über dich verfasst haben. Wenn dir davon etwas wirklich nicht passt, kannst du es löschen.<p>
    <% else %>
      <p>Hier kannst du alles hinterlassen, was dir zu <%= @user.full_name %> einfällt. Natürlich sollte dein Eintrag humorvoll aber nicht verletzend sein.
      <br />Halte dich möglichst kurz und teile verschiedene Dinge in mehrere Einträge auf.
      <br />Dein Name wird weder hier auf der Internetseite noch später in der fertigen Abizeitung als Verfasser erscheinen.</p>
      <%= render "locked" %>
      <%= form_for @entry, method: :post, url: about_user_path(@user) do |f| %>
        <div class="row">
          <div class="small-12 columns">
            <div class="panel">
              <%= render "errors", errors: @entry.errors %>
              <%= render "text_rules" %>
              <div class="row">
                <div class="small-10 columns">
                  <%= f.text_field :text, placeholder: "Was fällt dir zu #{@user.first_name} ein?" %>
                </div>
                <div class="small-2 columns">
                  <%= render "add_btn" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end if !locked? %>
      <hr />
    <% end %>
    <div class="row">
      <div class="small-12 columns">
        <% @entries.each do |entry| %>
          <div class="panel">
            <div class="row">
              <div class="small-11 columns">
                <%= entry.text %>
              </div>
              <div class="small-1 columns">
                <% can_edit = !locked? && (@_user.admin? || entry.author == @_user) %>
                <%= render "edit_btn", path: about_entry_edit_path(@user, entry) if can_edit %> <%= render "delete_btn", path: about_entry_path(@user, entry), confirm: "diesen Eintrag" if can_edit || @user == @_user %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @entries.empty? %>
          <em>Noch keine Einträge vorhanden.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>