<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Abikantenstadl<% if content_for?(:title) %> - <%= yield(:title) %><% end %></title>
  <%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application" %>
</head>
<body>
  <header class="row">
    <div class="small-4 columns title">Abikantenstadl</div>
    <div class="small-2 small-offset-5 columns text-right">Foo Bar</div>
    <div class="small-1 columns">logout</div>
  </header>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
